<template>
  <div id="app">
    <h1>FusionCharts</h1>

    <fusioncharts
      :type="graph0.type"
      :width="graph0.width"
      :height="graph0.height"
      :dataFormat="graph0.dataFormat"
      :dataSource="graph0.dataSource"
    ></fusioncharts>
    <fusioncharts
      :type="graph1.type"
      :width="graph1.width"
      :height="graph1.height"
      :dataformat="graph1.dataFormat"
      :dataSource="graph1.dataSource"
    >
    </fusioncharts>

    <div id="chart-container">
      <fusioncharts
        :id="graph2.id"
        :type="graph2.type"
        :width="graph2.width"
        :height="graph2.height"
        :dataformat="graph2.dataFormat"
        :dataSource="graph2.dataSource"
        :events="graph2.events"
      >
      </fusioncharts>
      <div>
        <fusioncharts
          :type="graph3.type"
          :width="graph3.width"
          :height="graph3.height"
          :dataformat="graph3.dataFormat"
          :dataSource="graph3.dataSource"
        >
        </fusioncharts>
        <fusioncharts
          :type="graph4.type"
          :width="graph4.width"
          :height="graph4.height"
          :dataformat="graph4.dataFormat"
          :dataSource="graph4.dataSource"
        >
        </fusioncharts>
        <fusioncharts
          :type="graph5.type"
          :width="graph5.width"
          :height="graph5.height"
          :dataFormat="graph5.dataFormat"
          :dataSource="graph5.dataSource"
        ></fusioncharts>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import VueFusionCharts from "vue-fusioncharts";
import FusionCharts from "fusioncharts";
import Column2D from "fusioncharts/fusioncharts.charts";
import FusionTheme from "fusioncharts/themes/fusioncharts.theme.fusion";
import RealTimeArea from "fusioncharts/fusioncharts.widgets";
import Maps from "fusioncharts/fusioncharts.maps";
import World from "fusioncharts/maps/fusioncharts.world";

Vue.use(
  VueFusionCharts,
  FusionCharts,
  Column2D,
  FusionTheme,
  RealTimeArea,
  RealTimeArea,
  Maps,
  World
);

export default class Fusion extends Vue {
  private graph0: object = {
    type: "stackedbar2d",
    width: "700",
    height: "400",
    dataFormat: "json",
    dataSource: {
      chart: {
        caption: "Split of visitors by Channels & Gender",
        placevaluesinside: "1",
        showvalues: "0",
        yaxisminvalue: "-30000",
        yaxismaxvalue: "30000",
        plottooltext: `<b>$dataValue</b>  $seriesName visitors`,
        theme: "fusion",
      },
      categories: [
        {
          category: [
            {
              label: "Organic",
            },
            {
              label: "Offline Stores",
            },
            {
              label: "Email Campaigns",
            },
            {
              label: "Social Events",
            },
            {
              label: "Paid Channels",
            },
          ],
        },
      ],
      dataset: [
        {
          seriesname: "Male",
          data: [
            {
              value: "17000",
            },
            {
              value: "19500",
            },
            {
              value: "12500",
            },
            {
              value: "14500",
            },
            {
              value: "17500",
            },
          ],
        },
        {
          seriesname: "Female",
          data: [
            {
              value: "-25400",
            },
            {
              value: "-29800",
            },
            {
              value: "-21800",
            },
            {
              value: "-19500",
            },
            {
              value: "-21200",
            },
          ],
        },
      ],
    },
  };
  private graph1: object = {
    type: "column2d",
    width: "700",
    height: "400",
    dataFormat: "json",
    dataSource: {
      // Chart Configuration
      chart: {
        caption: "Countries With Most Oil Reserves [2017-18]",
        subCaption: "In MMbbl = One Million barrels",
        xAxisName: "Country",
        yAxisName: "Reserves (MMbbl)",
        numberSuffix: "K",
        theme: "fusion",
      },
      // Chart Data
      data: [
        {
          label: "Venezuela",
          value: "290",
        },
        {
          label: "Saudi",
          value: "260",
        },
        {
          label: "Canada",
          value: "180",
        },
        {
          label: "Iran",
          value: "140",
        },
        {
          label: "Russia",
          value: "115",
        },
        {
          label: "UAE",
          value: "100",
        },
        {
          label: "US",
          value: "30",
        },
        {
          label: "China",
          value: "30",
        },
      ],
    },
  };
  private graph2: object = {
    type: "msline",
    width: "700",
    height: "400",
    dataFormat: "json",
    dataSource: {
      chart: {
        caption: "Reach of Social Media Platforms amoung youth",
        yaxisname: "% of youth on this platform",
        subcaption: "2012-2016",
        showhovereffect: "1",
        numbersuffix: "%",
        drawcrossline: "1",
        plottooltext: "<b>$dataValue</b> of youth were on $seriesName",
        theme: "fusion",
      },
      categories: [
        {
          category: [
            {
              label: "2012",
            },
            {
              label: "2013",
            },
            {
              label: "2014",
            },
            {
              label: "2015",
            },
            {
              label: "2016",
            },
          ],
        },
      ],
      dataset: [
        {
          seriesname: "Facebook",
          data: [
            {
              value: "62",
            },
            {
              value: "64",
            },
            {
              value: "64",
            },
            {
              value: "66",
            },
            {
              value: "78",
            },
          ],
        },
        {
          seriesname: "Instagram",
          data: [
            {
              value: "16",
            },
            {
              value: "28",
            },
            {
              value: "34",
            },
            {
              value: "42",
            },
            {
              value: "54",
            },
          ],
        },
        {
          seriesname: "LinkedIn",
          data: [
            {
              value: "20",
            },
            {
              value: "22",
            },
            {
              value: "27",
            },
            {
              value: "22",
            },
            {
              value: "29",
            },
          ],
        },
        {
          seriesname: "Twitter",
          data: [
            {
              value: "18",
            },
            {
              value: "19",
            },
            {
              value: "21",
            },
            {
              value: "21",
            },
            {
              value: "24",
            },
          ],
        },
      ],
    },
  };
  private graph3: object = {
    type: "angulargauge", // The gauge type
    width: "450", // Width of the gauge
    height: "250", // Height of the gauge
    dataFormat: "json", // Data type
    //renderAt: "chart-container2", //Container where the chart will render
    dataSource: {
      // Gauge Configuration
      chart: {
        caption: "Nordstrom's Customer Satisfaction Score for 2017",
        lowerLimit: "0",
        upperLimit: "100",
        showValue: "1",
        numberSuffix: "%",
        theme: "fusion",
        showToolTip: "0",
      },
      // Chart Data
      colorRange: {
        color: [
          {
            minValue: "0",
            maxValue: "50",
            code: "#F2726F",
          },
          {
            minValue: "50",
            maxValue: "75",
            code: "#FFC533",
          },
          {
            minValue: "75",
            maxValue: "100",
            code: "#62B58F",
          },
        ],
      },
      dials: {
        dial: [{ value: "81" }],
      },
    },
  };
  private graph4: object = {
    type: "msstackedcolumn2dlinedy",
    width: "700",
    height: "400",
    dataFormat: "json",
    dataSource: {
      chart: {
        caption: "Quarterly Sales vs. Profit % in Last Year",
        subcaption: "Product-wise Break-up - Harry's SuperMart",
        xAxisName: "Quarter",
        pYAxisName: "Sales",
        sYAxisName: "Profit %",
        numberPrefix: "$",
        numbersuffix: "M",
        sNumberSuffix: "%",
        sYAxisMaxValue: "25",
        theme: "fusion",
      },
      categories: [
        {
          category: [
            {
              label: "Q1",
            },
            {
              label: "Q2",
            },
            {
              label: "Q3",
            },
            {
              label: "Q4",
            },
          ],
        },
      ],
      dataset: [
        {
          dataset: [
            {
              seriesname: "Processed Food",
              data: [
                {
                  value: "30",
                },
                {
                  value: "26",
                },
                {
                  value: "33",
                },
                {
                  value: "31",
                },
              ],
            },
            {
              seriesname: "Un-Processed Food",
              data: [
                {
                  value: "21",
                },
                {
                  value: "28",
                },
                {
                  value: "39",
                },
                {
                  value: "41",
                },
              ],
            },
          ],
        },
        {
          dataset: [
            {
              seriesname: "Electronics",
              data: [
                {
                  value: "27",
                },
                {
                  value: "25",
                },
                {
                  value: "28",
                },
                {
                  value: "26",
                },
              ],
            },
            {
              seriesname: "Apparels",
              data: [
                {
                  value: "17",
                },
                {
                  value: "15",
                },
                {
                  value: "18",
                },
                {
                  value: "16",
                },
              ],
            },
          ],
        },
      ],
      lineset: [
        {
          seriesname: "Profit %",
          showValues: "0",
          data: [
            {
              value: "14",
            },
            {
              value: "16",
            },
            {
              value: "15",
            },
            {
              value: "17",
            },
          ],
        },
      ],
    },
  };
  private graph5: object = {
    width: "100%",
    height: "400",
    type: "maps/world",
    dataFormat: "json",
    dataSource: {
      chart: {
        caption: "Average Annual Population Growth",
        subcaption: " 1955-2015",
        numbersuffix: "%",
        includevalueinlabels: "1",
        labelsepchar: ": ",
        entityFillHoverColor: "#FFF9C4",
        theme: "fusion",
      },
      colorrange: {
        minvalue: "0",
        code: "#FFE0B2",
        gradient: "1",
        color: [
          {
            minvalue: "0.5",
            maxvalue: "1.0",
            color: "#FFD74D",
          },
          {
            minvalue: "1.0",
            maxvalue: "2.0",
            color: "#FB8C00",
          },
          {
            minvalue: "2.0",
            maxvalue: "3.0",
            color: "#E65100",
          },
        ],
      },
      data: [
        {
          id: "NA",
          value: ".82",
          showLabel: "1",
        },
        {
          id: "SA",
          value: "2.04",
          showLabel: "1",
        },
        {
          id: "AS",
          value: "1.78",
          showLabel: "1",
        },
        {
          id: "EU",
          value: ".40",
          showLabel: "1",
        },
        {
          id: "AF",
          value: "2.58",
          showLabel: "1",
        },
        {
          id: "AU",
          value: "1.30",
          showLabel: "1",
        },
      ],
    },
  };
}
</script>

<style></style>
