<template>
  <div id="app">
    <button @click="tipo = 'apex'">ApexChart</button>
    <button @click="tipo = 'fusion'">FusionChart</button>
    <Apex v-if="tipo == 'apex'" />
    <Fusion v-else />
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import Fusion from "./components/Fusion.vue";
import Apex from "./components/Apex.vue";

export default Vue.extend({
  name: "App",
  components: {
    Fusion,
    Apex,
  },
  data: function() {
    return {
      tipo: "fusion",
    };
  },
});
</script>

<style></style>
